$color1: green;
$btnBorder: 2px solid white;

body {
  background-color: lightcyan;

  section {
    background-color: silver;
    padding: 100px 0;

    .container {
      border: 1px solid red;

      .row {
        .col-3,
        .col-5 {
          h3 {
            font-size: 25px;
            letter-spacing: 5px;
            color: $color1;
          }

          .custom-btn {
            background-color: red;
            color: white;
            border: $btnBorder;
          }

          p {
            color: $color1;
          }
        }
      }
    }
  }
}
