* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.header__top {
  background-color: #E5E5E5;
}

.header__top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__top-category-link {
  margin: 20px 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
}

.header__bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 20px 20px 0;
}

.header__top-category-link {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  opacity: 0.3;
  border-top: 2px solid #E5E5E5;
}

.header__top-category-link:hover {
  color: #00D74A;
  border-top: 2px solid #00E34B;
}

.header__top-right .header__top-category-link:hover {
  color: #000000;
  border: none;
  opacity: 1;
}

.header__top-right .header__top-category-link svg {
  margin-right: 10px;
}

.header__bottom {
  margin-top: 19px;
}

.header__menu .header__menu-item .header__menu-link {
  text-decoration: none;
  font-family: "sf-pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin-right: 56px;
}

.header__menu .header__menu-item .header__menu-link:hover {
  color: #00D74A;
}

.header__menu .header__menu-item .header__menu-link-search {
  margin-right: 20px !important;
}

.banner__slide {
  background: #475463;
}

.banner__slide .banner__slide-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__slide .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__slide .right button {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  background: #00D74A;
  border-radius: 10px;
  padding: 22px 42px;
  border: none;
  margin-top: 72px;
  margin-bottom: 33px;
}

.banner__slide h1 {
  padding-top: 88px;
  padding-bottom: 0;
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.banner__slide .banner__slide-limite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 42px;
}

.banner__slide .banner__slide-limite .banner__slide-limite-mb {
  margin-right: 60px;
}

.banner__slide .banner__slide-limite .banner__slide-limite-min {
  margin-right: 60px;
}

.banner__slide .banner__slide-limite .banner__slide-limite-sms {
  margin-right: 60px;
}

.banner__slide .banner__slide-limite h3 {
  font-family: 'sf-bold', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #00D74A;
}

.banner__slide .banner__slide-limite h4 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.splide__list {
  min-height: 488px;
}

.splide__arrows {
  display: none;
}

.splide__pagination {
  margin: 0 150px 0 0;
  padding: 5px;
}

.splide__pagination__page.is-active {
  background: #00d74a;
  width: 8px;
  height: 40px;
  border-radius: 20px;
}

.splide__pagination__page {
  margin-top: 20px;
}

.info_txt {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.02em;
  color: #000000;
}

.maxsus_xizmatlar {
  padding-top: 142px;
  background: #F6F6F6;
}

.xizmat_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.xizmat_table .left_table {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
          box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
  border-radius: 10px;
  padding: 32px 37px 29px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 390px;
  width: 100%;
  margin-right: 14px;
}

.xizmat_table .left_table .left_table-title {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 26px;
}

.xizmat_table .left_table .left_table-pay {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  margin-right: 25px;
}

.xizmat_table .left_table .left_table-pay:hover {
  color: #00D74A;
}

.xizmat_table .left_table .left_table-pay svg {
  margin-right: 10px;
}

.xizmat_table .left_table .left_table-pay-end {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.xizmat_table .left_table .left_table-pay-end:hover {
  color: #00D74A;
}

.xizmat_table .left_table .left_table-pay-end svg {
  margin-right: 10px;
}

.right_table_list-item {
  padding: 29px 54px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
          box-shadow: 0px 2px 2px rgba(198, 198, 198, 0.25);
  border-radius: 10px;
}

.right_table {
  width: calc(100% - 390px);
}

.right_table .right_table_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.left_table_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
}

.pay_number {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  width: 100%;
  border: none;
  border-bottom: 2.5px solid #000000;
  margin-top: 32px;
}

.payme {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payme .pay_click {
  padding: 14px 52px;
  background: #00D74A;
  -webkit-box-shadow: 0px 2px 2px rgba(14, 221, 85, 0.52);
          box-shadow: 0px 2px 2px rgba(14, 221, 85, 0.52);
  border-radius: 10px;
  border: none;
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-right: 25px;
}

.payme p {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.right_table_list-item {
  text-align: center;
}

.ommabop {
  background: #F6F6F6;
  padding-top: 150px;
}

.ommabop .ommabop_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ommabop .ommabop_title .ommabop_title_link {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.ommabop_tarif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.ommabop_tarif_reja {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.25);
          box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.25);
  border-radius: 10px;
  padding: 42px 34px 18px 33px;
  margin: 8px;
}

.ommabop_tarif_reja_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.ommabop_tarif_reja_heading_title {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #000000;
}

.ommabop_tarif_reja_heading_link {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 7px 17px;
  background: #000000;
  border-radius: 10px;
  text-decoration: none;
}

.ommabop_tarif_reja_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 36px;
}

.ommabop_tarif_reja_main_give {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.ommabop_tarif_reja_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ommabop_tarif_reja_footer_price h3 {
  font-family: 'sf-bold', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.ommabop_tarif_reja_footer_link {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.ommabop_tarif_reja_footer .white {
  padding: 10px 40px;
  margin-left: 79px;
  margin-right: 16px;
}

.ommabop_tarif_reja_footer .green {
  padding: 10px 20px;
  background: #00D74A;
  color: white;
  border: none;
}

.site_info-carousel {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.site_info_news {
  max-width: 390px;
  width: 100%;
  margin-right: 14px;
}

.site_info_news-second {
  max-width: 390px;
  width: 100%;
  margin-right: 14px;
}

.site_info_news-third {
  max-width: 390px;
  width: 100%;
}

.site_info {
  padding-top: 150px;
  background: #F6F6F6;
}

.site_info_news_title {
  font-family: 'sd-bold';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 30px;
}

.site_info_news_carousel {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.25);
          box-shadow: 0px 2px 2px rgba(188, 188, 188, 0.25);
  border-radius: 10px;
  padding: 40px;
}

.site_info_news_carousel_slide_title {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.02em;
  line-height: 34px;
  color: #000000;
}

.site_info_news_carousel_slide_title:hover {
  color: #00D74A;
}

.site_info_news_carousel_slide_txt {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  margin-top: 24px;
  line-height: 40px;
}

.data {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin-top: 83px;
}

.site_map {
  padding-top: 150px;
  background: #F6F6F6;
}

.site_map_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}

.site_map_link {
  font-family: 'sf-pro';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}

.block_first_number-call {
  font-family: 'sf-bold';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.block_first_number-call svg {
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */